body {
    background-image: url(../imges/Dark\ Background.jpg);
    background-size: cover;
}

header {
    text-align: center;
    /* padding: 0% 45%; */
    color: rgb(179, 162, 199);
    margin-bottom: 45px;
}

h1 {
    /* display: block; */
    font-size: 50px;
    color: teal;
}

div {
    text-align: center;

    /* padding: 0% 50%;
    border-width: 10px;
    border-color: rosybrown; */
}

.main-a {
    /* padding: 0% 50%; */
    text-align: center;
    display: inline-block;
    width: 400px;
    height: 100px;
    background-color: rgb(127, 127, 127);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 200px;
    padding: 70px 0% 0%;
    font-size: 30px;
    color: rgb(230, 185, 184);
    text-decoration-line: none;
    margin-bottom: 50px;
    /* text-align: center center; */
    /* background-position: 30%; */
    /* padding: 50% 0%; */
}

.sec-a {
    display: inline-block;
    width: 800px;
    height: 50px;
    background-color: rgb(127, 127, 127);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 200px;
    padding: 15px 0% 0% 0%;
    font-size: 30px;
    color: rgb(230, 185, 184);
    text-decoration-line: none;
    margin: 0px 50px 50px;
}

.div {
    margin-bottom: 30px;
}

.thi-a {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(221, 217, 195);
    border-radius: 20px;
    padding: 15px 0% 0% 0%;
    font-size: 30px;
    color: rgb(221, 217, 195);
    text-decoration-line: none;
    margin: 0px 50px;
}

.fou-a {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(221, 217, 195);
    border-radius: 20px;
    padding: 15px 0% 0% 0%;
    font-size: 30px;
    color: rgb(221, 217, 195);
    text-decoration-line: none;
    margin: 0px 50px;
}

.tasks {
    display: inline-block;
    width: 800px;
    height: 50px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 200px;
    padding: 15px 0% 0% 0%;
    font-size: 30px;
    color: red;
    text-decoration-line: none;
    margin: 0px 50px 50px;
}

.h2 {
    text-align: center;
    border: black, dashed;
    background-color: blanchedalmond;
    width: 100px;
}

.fif-a {
    display: inline-block;
    width: 800px;
    height: 50px;
    background-color: rgba(127, 127, 127, 0.418);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 200px;
    padding: 15px 0% 0% 0%;
    font-size: 30px;
    color: rgb(230, 185, 184);
    text-decoration-line: none;
    /* margin: 0px 500px 50px; */
    margin-top: -50px;
}

.div3 {
    /* display: inline-block; */
    text-align: center;
}

p {
    color: black;
    margin-bottom: 40px;
    background-color: rgba(195, 116, 248, 0.5);
    width:fit-content;
    text-align: center;
    margin-left: 40%;
    margin-top: 70px;
}

span {
    font-size: 10px;
}

.six-a {
    display: inline-block;
    width: 800px;
    height: 50px;
    background-color: rgba(127, 127, 127, 0.418);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 200px;
    padding: 15px 0% 0% 0%;
    font-size: 30px;
    color: rgb(230, 185, 184);
    text-decoration-line: none;
    /* margin: 0px 500px 50px; */
    margin-top: -35px;
}